
/* @font-face {
    font-family: 'hansannormal';
    src: url('../assest/font/SourceHanSansCN-Normal.otf');
} */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0;  box-sizing: border-box;} 
body, button, input, select, textarea { line-height: 1; box-sizing: border-box;} 
/* body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0;  box-sizing: border-box;} 
body, button, input, select, textarea { font:12px/1.5 'hansannormal', tahoma, arial, \5b8b\4f53; line-height: 1; box-sizing: border-box;}  */
h1, h2, h3, h4, h5, h6{ font-size:100%; box-sizing: border-box; line-height: 1;} 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; box-sizing: border-box;} 
a { text-decoration:none; box-sizing: border-box;} 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
/* img {width: 100%;} */
button, input, select, textarea { font-size:100%; box-sizing: border-box;} 
table { border-collapse:collapse; border-spacing:0; line-height: 1;} 

.clear::after{
    content: '';
    width:100%;
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}